---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/17473/credits?api_key=<API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6b8f7531af4bda175213db2a5c7fc905d783b56e
      X-Memc-Age:
      - '1303'
      X-Memc-Expires:
      - '16379'
      Etag:
      - W/"7266b3c4ad8e37c50600e1ee726fd674"
    body:
      encoding: ASCII-8BIT
      string: '{"id":17473,"cast":[{"adult":false,"gender":2,"id":81916,"known_for_department":"Acting","name":"Tommy
        Wiseau","original_name":"Tommy Wiseau","popularity":2.427,"profile_path":"/mDiPtAoCFOM2NoHI0Jx1Zh2t5rV.jpg","cast_id":1,"character":"Johnny","credit_id":"52fe47299251416c7508fb21","order":0},{"adult":false,"gender":1,"id":81917,"known_for_department":"Acting","name":"Juliette
        Danielle","original_name":"Juliette Danielle","popularity":1.191,"profile_path":"/4dU5buOHyl02zERuJfrVFherRTr.jpg","cast_id":2,"character":"Lisa","credit_id":"52fe47299251416c7508fb25","order":1},{"adult":false,"gender":2,"id":81918,"known_for_department":"Acting","name":"Greg
        Sestero","original_name":"Greg Sestero","popularity":1.531,"profile_path":"/ySLUoDUVQB1IjgsaX9ktPaz58Rh.jpg","cast_id[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/17473/credits?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Language:
      - en-US
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 678b6c16078117ca9b10b879f3fe6e5a84687a7c
      X-Memc-Age:
      - '2515'
      X-Memc-Expires:
      - '13662'
      Etag:
      - W/"b32d1098d23bdfc79431e505cf95177a"
    body:
      encoding: ASCII-8BIT
      string: '{"id":17473,"cast":[{"adult":false,"gender":2,"id":81916,"known_for_department":"A[...]
